<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap
        PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="${namespace}">
    <select id="getById" parameterClass="long" resultClass="${meta.lowerCamelEntity}">
        ${selectOneText}
    </select>

    <select id="getByParam" parameterClass="long" resultClass="${meta.lowerCamelEntity}">
        ${selectText}
    </select>

    <insert id="insert" parameterClass="{meta.lowerCamelEntity}">
        ${insertText}
    </insert>

    <update id="update" parameterClass="{meta.lowerCamelEntity}">
        ${updateText}
    </update>

    <delete id="deleteById" parameterClass="long">
        ${deleteOneText}
    </delete>
</sqlMap>